/* .container {
    width: 80%;
    margin: 0 auto;
} */

.custom-judul {
    text-align: center;
    padding: 20px;
}

.requirement {
    font-size: 15px;
    color: red;
}

.container-fluid {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #026670;
    background-color: #fff;
    margin-top: 0px;
    display: flex; /* Menggunakan display flex */
    flex-direction: column;
}

.container-fluid label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-fluid label > span {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.container-fluid input, .container-fluid select {
    flex: 2;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color:#E4F3EF;
    border: none;
}

.submit-button {
    text-align: right; /* Memindahkan tombol ke sebelah kanan */
    background-color: #026670;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}

.address-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px red;
}

.address-details{
    padding-left: 40px;
    padding-right: 30px;
}

/* .address-details label {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 45px;
}

.address-details input {
    flex: 2;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color:#E4F3EF;
    border: solid 1px red;
    margin-left: 129px;
} */

.error {
    color: #ff3860;
    font-size: 13px;
  }