/* .container {
    width: 80% !important;
    margin: 0 auto !important;
} */

.custom-judul {
    text-align: center;
    padding: 25px;
}

.requirement {
    font-size: 15px;
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}

.container-fluid {
    border-radius: 10px !important;
    padding: 20px !important;
    border: 1px solid #026670 !important;
    background-color: #fff !important;
    margin-top: 0px !important;
    display: flex !important; /* Menggunakan display flex */
    flex-direction: column !important;
}

.container-fluid label {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 10px !important;
}

.container-fluid label > span {
    flex: 1 !important;
    text-align: left !important;
    padding-right: 10px !important;
}

.container-fluid input, .container-fluid select {
    flex: 2 !important;
    width: 100% !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
    background-color:#E4F3EF !important;
    border: none !important;
}

.submit-button {
    text-align: right; /* Memindahkan tombol ke sebelah kanan */
    background-color: #026670;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}