.content-box {
    text-align: center;
    border: 0px solid #026670;
    padding: 20px;
    margin: 50px;
    background-color:#9fedd7;
}

.content-header img {
    display: block;
    margin: 0 auto;
    width: 150px; 
    height: 130px; 
}

.content-body {
    text-align: left;
}

.content-body p{
    text-align: center;
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: #fff; 
    display: block; 
    margin: 0 auto; 
    max-width: 300px; 
}

.content-body h1{
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    font-weight: bold;
}

.content-body h3{
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    font-weight: bold;
}

.content-body img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

table {
    /* max-width: 400px;  */
    margin: 0 auto;
    border: 1px solid #026670;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table th, table td {
    width: 30%;
    border: 1px solid #026670;
    padding: 8px;
    text-align: center;
    background-color: #fff;
}



.button-container {
    text-align: right; /* Mengatur tombol ke kanan */
    margin-top: 15px;
}

.submit {
    background-color: #026670;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}