@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 0.875rem;
        opacity: 1;
        overflow-y: scroll;
        margin: 0;
    }

    /* judul */
    .custom-judul {
        text-align: left;
        padding: 50px;
        }

    /* custom table */
    .custom-border{
        border: 1px solid #026670;
    }

    .custom-table thead th {
        border-bottom: 1px solid #026670;
        text-align: center;
        vertical-align: middle;
    }

    .custom-table thead th:first-child {
        width: 50px;
    }

    .custom-table tbody th[scope="row"] {
        text-align: center;
        vertical-align: middle;
    }

    .custom-table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }

    .custom-table tbody tr td:nth-child(5) {
        text-align: center;
    }

    .custom-table tbody tr td button {
        background-color: #fff;
        color: #026670;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 18px;
    }

    .custom-table tbody tr td .tervalidasi {
        background-color: #026670;
        color: #fff;
        border: none;
        padding: 5px 0px;
        font-size: 0.8rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .custom-table tbody tr td button:hover {
        color: #9fedd7;
        background-color: #fff;
    }

    .custom-table {
        border-collapse: separate;
        border-spacing: 0;
        font-size: 0.8rem;
    }

    .custom-table tbody tr td .validasi {
        border: none;
        padding: 5px;
        height: 2.75rem;
        width: 5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }