    /* judul */
    .custom-judul {
        text-align: center;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* searching */
    button.btn{
        background-color: #026670;
        color: #fff;
        border: none;
        padding: 5px 10px; /* Atur padding sesuai kebutuhan (diatur jd inline)*/
        cursor: pointer;
    }

    button.btn-success:hover {
        background-color: #9fedd7;
        color: #000;
    }

    /* custom table */
    .custom-border{
        margin-top: 50px;
        border: 1px solid #026670;
    }

    .custom-table thead th {
        border-bottom: 1px solid #026670;
        text-align: center;
        vertical-align: middle;
    }

    .custom-table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }

    .custom-table tbody tr td button.btn {
        background-color: #026670;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 0.85rem;
    }

    .custom-table tbody tr td button.btn:hover {
        background-color: #9fedd7;
        color: #000;
    }

    .custom-table {
        border-collapse: separate;
        border-spacing: 0;
        font-size: 0.85rem;
        justify-content: center;
    }

    .custom-table tbody tr td .status {
        border: none;
        padding: 5px;
        height: 2rem;
        width: 8.5rem;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        display: inline-flex;
    }